#cart_window { 
    position: fixed;
    top: 0vh;
    left: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255, 0.9);
    
    z-index: 997;
    /* Blur the rest of the page:  */
}

#cart_sub_window { 
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    background-color: greenyellow;
    z-index: 998;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#cart_head { 
    position: fixed;
    top: 22vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 7mm;   
}
#cartTotal_p { 
    position: fixed;
    top: 27vh;
    display: flex;
    align-items: cen;
    text-align: center;
    justify-content: center;
    font-size: 5mm;
}

.cart_display { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: fit-content;
    min-height: 3em;
    max-height: fit-content;
    background-color: white;
    overflow-y: auto;
    flex-direction: column;
    margin-bottom: 1em;
    scrollbar-width: none;
}

/* TODO: Change all this to be more flexy/dynamic. The position:fixed makes it so different screen widths/heights are buggered */
.cart_display input { 
    width: 4vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: fixed;
    left: 57vw;
}

#checkout_btn { 
    position: fixed;
    bottom: 20vh;
    width: 20vw;
}


/* Sections:  */

#items_section { 
    position: fixed;
   height: 40vh;
   width: 20vw;
   justify-content: center;
   align-items: center;
   overflow-y: auto;
   margin-right: -50px; /* Maximum width of scrollbar */
   padding-right: 50px; /* Maximum width of scrollbar */
}
#cart_text { 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    scrollbar-width: none;
}
#cart_text div { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#cart_checkout { 
    position: fixed;
    bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close_cart { 
    position: fixed;
    right: 10vw;
    top: 10vh;
    background-color: transparent;
}
#close_cart:hover { 
    color: red;
    color: white;
}
