<!DOCTYPE html>
<html lang="en">
<!-- HTML Head: -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCAL VERSION!</title>
    <!-- CDNS: -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/e68c61fca7.js" crossorigin="anonymous"></script>
    <!-- Back/Middle -->
    <script defer src="/L3_Programming/L3_server/node_requests/nodeReq.js"></script>

    <!-- Front End Scripts  -->
    <script defer src="/L3_Programming/L3_core/client/App.js"></script>
    <script defer src="/L3_Programming/L3_core/client/core.js"></script>

 
    

    <!-- Styles:  -->
    <!-- Main Styles: -->
    <link rel="stylesheet" href="/L3_Programming/L3_core/css/core.css">

    <!-- L3_devtools -->
    <link rel="stylesheet" href="/L3_Programming/L3_devtools/add_item/css/add_item.css">
    <!-- L3_compact styles -->
    <link rel="stylesheet" href="/L3_Programming/L3_compact/dropdown/css/dropdown.css">
    <link rel="stylesheet" href="/L3_Programming/L3_compact/window/css/window.css">
    
    <!-- Front styles -->

      
        <!-- navigation -->
            <link rel="stylesheet" href="/L3_Programming/L3_navigation/css/navigation.css">

        <!-- Cart -->
            <link rel="stylesheet" href="/L3_Programming/L3_cart/css/cart.css">
        <!-- Checkout -->
            <link rel="stylesheet" href="/L3_Programming/L3_checkout/css/checkout.css">
</head>
<!-- Main Content: -->
<body>

<!-- Loading screen to show for the first second of page load... this hides vue stuff flashing up -->
<div id="LoadingScreen"> 
    <p>The page is loading...</p>
</div>

<!-- Main #app div this is what vue.js will mount onto -->
    <div id="app">

<!-- Add item to DOM tool. This will take the inputs and insert into the database -->
    <div v-show="devMode" id="addNew"> 
        <form @submit.prevent="addNew(newItem.newName, newItem.newPrice, newItem.newImage)" id="addNew_form"> 
            <input v-model="newItem.newName" id="newName" placeholder="Item Name" autocomplete="off">
            <input v-model="newItem.newPrice" id="newPrice" placeholder="Item Price" autocomplete="off">
            <input v-model="newItem.newImage" id="newImage" placeholder="Item Img src" autocomplete="off">
            <button>Add New</button>
        </form>
    </div>

    <!-- Navigation -->

    <nav> 
        <ul id="top_nav"> 
            <div id="left_seg"> <!--Left Segment-->
                <li @click="toggleCompact"><a><i class="fa-solid fa-square-caret-down"></i></a></li> <!--Toggle compact mode buttons-->
                <button @click="toggleCart"><i class="fa-solid fa-cart-shopping"></i></button> <!--Toggle the cart window buttons-->
            </div>
            <div id="center_seg"> <!--Center segment-->
                <header>Tech Port (LOCAL)</header> <!--Main header for page-->
            </div>
            <div id="right_seg"> <!-- Right segment-->
                <li><a href="discord.com"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="insta.com"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="tiktok.com"><i class="fa-brands fa-tiktok"></i></a></li>
                <button @click="toggleDevMode"> <!-- Toggle the developer tools on/off-->
                    <span v-if="devMode"><i class="fa-solid fa-toggle-off"></i></span>
                    <span v-if="!devMode"><i class="fa-solid fa-toggle-on"></i></span>
                </button>
            </div>
        </ul>
    </nav>

     <!-- GUI: -->
    <div id="flex_items"> 
        <!--Here we will use a vue.js for loop (v-for='') to render each item that we recieve from the database. This loop will iterate through
        each item in that array and render the following DOM elements for them:-->
        <div class="shop_item" v-for="item in shopItems"> 
            <strong>{{ item.ITEM_NAME }}</strong> <!--Item Title-->
            <p>${{item.ITEM_PRICE }}</p> <!--Item Price-->
            <img :src="item.img_source"> <!-- Item image source-->
            <div class="desc_div"> 
                <p class="item_desc">{{ item.item_desc }}</p> <!-- Item description-->
            <button @click="cartAdd(item.ITEM_NAME, item.ITEM_PRICE)" class="cart_btn">Add To Cart</button> <!-- Add to cart button for each item-->
            </div>
            
        </div>
    </div>

<!-- Compact mode window: -->
<!-- Show this div if compactOpen == true -->
<div v-show="compactOpen" id="compact_mode"> 
    <!-- onlick: close compact mode -->
     <button @click="toggleCompact" id="closeCompact"><i class="fa-regular fa-circle-xmark"></i></button>
     <!-- Second div as CSS was being annoying so we have 2 now -->
    <div id="compact_window"> 
            <div @click="toggleDropdown" id="dropdown_menu"> <!-- Dropown bar toggle button-->
                <p class="dropdownCTRL" v-show="!dropdownOpen">Item Dropdown<i class="fa-solid fa-angle-down"></i></p> <!--Text inside the dropdown menu-->
                <div v-if="dropdownOpen" id="dropdownItems"> <!--Show the following if the dropdown menu is open-->
                <!-- Iterate through each item in the dropdownItems array  -->
                <p v-for="dropdownItem in dropdownItems" @click="cartAdd(dropdownItem.ITEM_NAME, dropdownItem.ITEM_PRICE)">{{ dropdownItem.ITEM_NAME }} </p>
                </div>
                <!-- Close dropdown button -->
                <p class="dropdownCTRL" v-show="dropdownOpen">Close Dropdown<i class="fa-solid fa-angle-up"></i></p>
        </div> 
    </div>
</div>

<!-- Cart: -->

<!-- Show the following if cartOpen = true -->
<div v-show="cartOpen" id="cart_window"> 
    <div v-show="cartOpen" @click="" id="cart_sub_window"> <!--CSS was being mean so we have to have sub windows for some reason idek tbh-->
        <button id="close_cart" @click="toggleCart"><i class="fa-regular fa-circle-xmark"></i> </button> <!-- Close the cart button-->
        <!-- Render the items in the cart -->
     <section id="cart_text">
        <header id="cart_head">Your Shopping Cart</header> 
        <header id="cartTotal_p">Total Price: ${{ cartTotal }}</header> <!--cartTotal is calculated in App.js-->
    </section>
    <section id="items_section">
        <!-- Display each item from the cartItems array -->
    <div class="cart_display" v-for="cart_item in cartItems"> 
        <p> {{ cart_item.cartName }}</p>
        <p> {{ cart_item.cart_newPrice }}</p>
        <!-- Use a input to change the quantity of a cart item. This took like 3 hours to function and its still laggy as ever -->
        <input value="1" type="number" v-model="cart_item.cartQty" placeholder="1" @input="updateQty(cart_item)"> 
        </div>
    </section>
    <!-- Navigate to checkout from cart: -->
    <section id="cart_checkout">
        <button @click="toggleCheckout" id="checkout_btn">Checkout</button>
    </section>
    </div>
</div>

<!-- Checkout -->
<!-- Show the following if checkoutOpen = true -->
<div v-show="checkoutOpen" id="checkout_window"> 
    <button @click="toggleCheckout" id="close_checkout">X</button>
    <div v-show="checkoutOpen" id="checkout_sub_windw"> 
        <section id="checkout_section1"> 
            <header id="checkout_head" style="font-size: 6mm;">Checkout {{cartCounter}} Items</header> <!--Display how many items are in the cart-->
            <div id="checkout_price"> 
                <p id="check_price">You have {{cartCounter}} Items in your cart, This totals to ${{cartTotal}}</p> <!--Display the total price aswell as the counter of items-->
            </div>
        </section>
        <!-- Obviously we don't actually grab information from here as that would be ILLEGAL-->
        <section id="perso_info"> 
            <form @submit.prevent="confirmCheckout" id="checkout_form"> 
                <input v-model="PaymentInfo.CardName" type="text" id="checkout_name" placeholder="Your full name">
                <input type="email" id="checkout_email" placeholder="Email Address"> 
                <input v-model="PaymentInfo.CardNum" type="text" id="card_number" placeholder="1234 5678 9101 2345"> 
                <input v-model="PaymentInfo.CardCvc" type="text" id="cvc" placeholder="123">
                <input v-model="PaymentInfo.CardExpiry"  type="date" id="cart_data" placeholder="03/24">
                <button type="submit">Place Order</button>
            </form>
        </section>
        <section id="checkout_text"> 

        </section>
        
    </div>
</div>



   
    </div>
</body>
</html>