#add_new { 
    position: fixed;
    top: 10%;
    left: 33%;
    height: 7vh;
    background-color: blue;
    z-index: 1000;
}
#add_new input { 
    background-color: red;
    color: white;
    height: 3em;
    width: 10em;
    margin-right: 1em;

  
    z-index: 2;
}